<h4 class="sidebar-summary">{{localize "CONAN.actionSummary"}}</h4>

<span class="item-summary">{{lookup featTypes data.data.featType.value }}</span>
{{# if data.data.requirements.value }}<span class="item-summary"
  >{{ data.data.requirements.value }}</span
>{{/if}} {{#if itemTags.length}}
<ol class="item-tags">
  {{#each itemTags}}
  <li class="tag">{{this}}</li>
  {{/each}}
</ol>
{{/if}}
