<div class="form-group">
  <label>{{localize "CONAN.enchantmentTypeLabel"}}</label>
  <select name="data.enchantmentType" data-dtype="String">
    {{#select data.data.enchantmentType}} {{#each enchantmentTypes as |name type|}}
    <option value="{{type}}">{{name}}</option>
    {{/each}} {{/select}} {{#select data.enchantmentType}} {{/select}}
  </select>
</div>
<div class="form-group">
  <div class="form-group">
    <label>{{localize "CONAN.difficultyLabel"}}</label>
    <select name="data.difficulty" data-dtype="String">
      {{#select data.data.difficulty}} {{#each difficulty as |label key|}}
      <option value="{{key}}">{{localize label}}</option>
      {{/each}} {{/select}}
    </select>
  </div>
</div>
{{#ifCond data.enchantmentType '!=' 'reinforcedFabric' }} {{#ifEq
data.enchantmentType 'talisman'}}
<ol class="form-list">
  <div class="form-group">
    <label>{{localize "CONAN.enchantmentTalismanLabel"}}</label>
    <select name="data.traits.talismanType" data-dtype="String">
      {{#select data.data.traits.talismanType}} {{#each talismanTypes as |label
      key|}}
      <option value="{{key}}">{{localize label}}</option>
      {{/each}} {{/select}}
    </select>
  </div>
</ol>
<ol class="form-list">
  <div class="form-group">
    <label>{{localize "CONAN.enchantmentHindranceLabel"}}</label>
    <input
      type="Text"
      name="data.traits.hindrance"
      value="{{data.data.traits.hindrance}}"
      data-dtype="Text"
    />
  </div>
</ol>
{{/ifEq}} {{#ifEq data.data.enchantmentType 'lotusPollen'}}
<ol class="form-list">
  <div class="form-group">
    <label>{{localize "CONAN.lotusPollenColorLabel"}}</label>
    <select name="data.traits.lotusPollenColor" data-dtype="String">
      {{#select data.data.traits.lotusPollenColor}} {{#each lotusPollenColors as
      |label key|}}
      <option value="{{key}}">{{localize label}}</option>
      {{/each}} {{/select}}
    </select>
  </div>
</ol>
<ol class="form-list">
  <div class="form-group">
    <label>{{localize "CONAN.lotusPollenUseLabel"}}</label>
    <select name="data.traits.lotusPollenUse" data-dtype="String">
      {{#select data.data.traits.lotusPollenUses}} {{#each lotusPollenUses as |label
      key|}}
      <option value="{{key}}">{{localize label}}</option>
      {{/each}} {{/select}}
    </select>
  </div>
</ol>
<ol class="form-list">
  <div class="form-group">
    <label>{{localize "CONAN.lotusPollenFormLabel"}}</label>
    <select name="data.traits.lotusPollenForm" data-dtype="String">
      {{#select data.data.traits.lotusPollenForms}} {{#each lotusPollenForms as |label
      key|}}
      <option value="{{key}}">{{localize label}}</option>
      {{/each}} {{/select}}
    </select>
  </div>
</ol>
{{/ifEq}} {{#ifEq data.data.enchantmentType 'burningLiquid'}}
<ol class="form-list">
  <div class="form-group">
    <label>{{localize "CONAN.enchantmentVolatilityLabel"}}</label>
    <select name="data.traits.volatility" data-dtype="String">
      {{#select data.data.traits.volatility}} {{#each volatilities as |label key|}}
      <option value="{{key}}">{{localize label}}</option>
      {{/each}} {{/select}}
    </select>
  </div>
</ol>
{{/ifEq}} {{#ifEq data.data.enchantmentType 'blindingPowder'}}
<ol class="form-list">
  <div class="form-group">
    <label>{{localize "CONAN.enchantmentStrengthLabel"}}</label>
    <select name="data.traits.strength" data-dtype="String">
      {{#select data.data.traits.strength}} {{#each blindingStrengths as |label
      key|}}
      <option value="{{key}}">{{localize label}}</option>
      {{/each}} {{/select}}
    </select>
  </div>
</ol>
{{/ifEq}} {{#ifEq data.data.enchantmentType 'explodingPowder'}}
<ol class="form-list">
  <div class="form-group">
    <label>{{localize "CONAN.enchantmentItemLabel"}}</label>
    <select name="data.traits.explodingItem" data-dtype="String">
      {{#select data.data.traits.explodingItem}} {{#each explodingItems as |label
      key|}}
      <option value="{{key}}">{{localize label}}</option>
      {{/each}} {{/select}}
    </select>
  </div>
</ol>
<ol class="form-list">
  <div class="form-group">
    <label>{{localize "CONAN.enchantmentStrengthLabel"}}</label>
    <select name="data.traits.strength" data-dtype="String">
      {{#select data.data.traits.strength}} {{#each enchantmentStrengths as |label
      key|}}
      <option value="{{key}}">{{localize label}}</option>
      {{/each}} {{/select}}
    </select>
  </div>
</ol>
{{/ifEq}} {{#ifEq data.data.enchantmentType 'upasGlass'}}
<ol class="form-list">
  <div class="form-group">
    <label>{{localize "CONAN.upasGlassSizeLabel"}}</label>
    <select name="data.traits.size" data-dtype="String">
      {{#select data.data.traits.size}} {{#each upasGlassSizes as |label key|}}
      <option value="{{key}}">{{localize label}}</option>
      {{/each}} {{/select}}
    </select>
  </div>
</ol>
{{/ifEq}} {{#ifCond data.data.enchantmentType '!=' 'talisman'}} {{#ifCond
data.data.enchantmentType '!=' 'lotusPollen'}}
<ol class="form-list">
  <div class="form-group">
    {{#ifEq data.data.enchantmentType 'upasGlass'}}
    <label>{{localize "CONAN.enchantmentCoverLabel"}}</label>
    {{else}}
    <label>{{localize "CONAN.enchantmentDamageLabel"}}</label>
    {{/ifEq}}
    <div class="details-container-three-columns">
      <select name="data.damage.dice" data-dtype="Number">
        {{#select data.data.damage.dice}} {{#each damageDice as |name type|}}
        <option value="{{type}}">{{name}}</option>
        {{/each}} {{/select}}
      </select>
      <div class="combat-dice"></div>
    </div>
  </div>
</ol>
{{/ifCond}} {{/ifCond}}

<div class="form-group">
  <label>{{localize "CONAN.kitUsesAvailableLabel"}}</label>
  <input
    type="Number"
    name="data.uses.value"
    value="{{data.data.uses.value}}"
    data-dtype="Number"
  />
</div>

{{#ifCond data.data.enchantmentType '!=' 'talisman'}} {{#ifCond data.data.enchantmentType
'!=' 'lotusPollen'}}
<ol class="form-list">
  <div class="form-group-stacked">
    <label for="data.effects.value">
      {{localize "CONAN.effectsLabel"}}
      <a
        class="trait-selector"
        data-options="weaponQualities"
        data-has-values="true"
        data-allow-empty-values="true"
        ><i class="fas fa-edit"></i
      ></a>
    </label>
    <ul class="qualities-list co-value co-large">
      {{#each data.data.effects.value as |v k|}}
      <span class="tag {{k}}"
        >{{v.label}}{{#if v.value}}({{v.value}}){{/if}}</span
      >
      {{/each}}
    </ul>
  </div>
</ol>
{{/ifCond}} {{/ifCond}} {{else}}
<div class="form-group">
  <div class="form-group">
    <label>{{localize "CONAN.enchantmentIngredientsLabel"}}</label>
    <select name="data.traits.ingredients" data-dtype="String">
      {{#select data.data.traits.ingredients}} {{#each ingredient as |label key|}}
      <option value="{{key}}">{{localize label}}</option>
      {{/each}} {{/select}}
    </select>
  </div>
</div>
<div class="form-group">
  <label>{{localize "CONAN.kitUsesAvailableLabel"}}</label>
  <input
    type="Number"
    name="data.uses.value"
    value="{{data.data.uses.value}}"
    data-dtype="Number"
  />
</div>
<ol class="form-list">
  <div class="form-group-stacked">
    <label for="data.damage.hitLocation">
      {{localize "CONAN.enchantmentCoverageLabel"}}
      <a class="trait-selector" data-options="coverageTypes"
        ><i class="fas fa-edit"></i
      ></a>
    </label>
    <ul class="coverages-list co-value co-large">
      {{#each data.data.damage.hitLocation as |v k|}}
      <span class="tag {{k}}">{{v}} </span>
      {{/each}}
    </ul>
  </div>
</ol>
{{/ifCond}}
