<div class="form-group">
  <label>{{localize "CONAN.kitSkillLabel"}}</label>
  <select name="data.skill" data-dtype="String">
    {{#select data.data.skill}} {{#each kitSkills as |name type|}}
    <option value="{{type}}">{{name}}</option>
    {{/each}} {{/select}}
  </select>
</div>

<div class="form-group">
  <label>{{localize "CONAN.kitTypeLabel"}}</label>
  <select name="data.kitType" data-dtype="String">
    {{#select data.data.kitType}} {{#each kitTypes as |name type|}}
    <option value="{{type}}">{{name}}</option>
    {{/each}} {{/select}}
  </select>
</div>

<div class="form-group">
  <label>{{localize "CONAN.kitUsesMaxLabel"}}</label>
  <select name="data.uses.max" data-dtype="String">
    {{#select data.data.uses.max}} {{#each uses as |label key|}}
    <option value="{{key}}">{{{localize label}}}</option>
    {{/each}} {{/select}}
  </select>
</div>

<div class="form-group">
  <label>{{localize "CONAN.kitUsesAvailableLabel"}}</label>
  <input
    type="Number"
    name="data.uses.value"
    value="{{data.data.uses.value}}"
    data-dtype="Number"
  />
</div>
