<div class="form-group">
  <label>{{localize "CONAN.npcActionTypeLabel"}}</label>
  <select name="data.actionType" data-dtype="String">
    {{#select data.data.actionType}} {{#each actionTypes as |name type|}}
    <option value="{{type}}">{{name}}</option>
    {{/each}} {{/select}}
  </select>
</div>
