<div class="form-group">
  <label>{{localize "CONAN.weaponTypeLabel"}}</label>
  <select name="data.weaponType" data-dtype="String">
    {{#select data.data.weaponType}} {{#each weaponTypes as |name type|}}
    <option value="{{type}}">{{name}}</option>
    {{/each}} {{/select}} {{#select data.data.weaponType}} {{/select}}
  </select>
</div>

<div class="form-group">
  <label>{{localize "CONAN.weaponGroupLabel"}}</label>
  <select name="data.group" data-dtype="String">
    {{#select data.data.group}} {{#each weaponGroups as |name type|}}
    <option value="{{type}}">{{name}}</option>
    {{/each}} {{/select}}
  </select>
</div>

<div class="form-group">
  <label>{{localize "CONAN.weaponSizeLabel"}}</label>
  <select name="data.size" data-dtype="String">
    {{#select data.data.size}} {{#each weaponSizes as |name size|}}
    <option value="{{size}}">{{name}}</option>
    {{/each}} {{/select}}
  </select>
</div>
<div class="form-group">
  {{#ifEq data.data.weaponType "ranged"}}
  <label>{{localize "CONAN.weaponRangeLabel"}}</label>
  <select name="data.range" data-dtype="String">
    {{#select data.data.range}} {{#each weaponRanges as |name range|}}
    <option value="{{range}}">{{name}}</option>
    {{/each}} {{/select}}
  </select>
  {{else}}
  <label>{{localize "CONAN.weaponReachLabel"}}</label>
  <input
    type="text"
    name="data.range"
    value="{{data.data.range}}"
    data-dtype="String"
  />
  {{/ifEq}}
</div>
{{#ifEq data.data.weaponType "ranged"}}
<div class="form-group">
  <label>{{localize "CONAN.weaponShotsLabel"}}</label>
  <input
    type="text"
    name="data.shots"
    value="{{data.data.shots}}"
    data-dtype="Number"
  />
</div>
{{/ifEq}}

<ol class="form-list">
  <li class="form-group">
    <label title="{{localize CONAN.weaponDamageTitle}}">
      {{localize "CONAN.weaponDamageLabel"}}
      <i class="fas fa-info-circle"></i>
    </label>
  </li>

  <div class="form-group">
    <label>{{localize "CONAN.weaponBaseDamageLabel"}}</label>
    <div class="details-container-three-columns">
      <select name="data.damage.dice" data-dtype="Number">
        {{#select data.data.damage.dice}} {{#each damageDice as |name type|}}
        <option value="{{type}}">{{name}}</option>
        {{/each}} {{/select}}
      </select>
      <div class="combat-dice"></div>
    </div>
  </div>
</ol>

<ol class="form-list">
  <div class="form-group">
    <label>{{localize "CONAN.equipmentEquippedLabel"}}</label>
    <input
      type="checkbox"
      name="data.equipped"
      value="1"
      data-dtype="Boolean"
      {{checked
      data.data.equipped}}
    />
  </div>

  {{#ifEq data.group "shield"}}
  <div class="form-group">
    <label>{{localize "CONAN.armorBrokenLabel"}}</label>
    <input
      type="checkbox"
      name="data.broken"
      value="1"
      data-dtype="Boolean"
      {{checked
      data.data.broken}}
    />
  </div>
  {{/ifEq}}

  <div class="form-group-stacked">
    <label for="data.qualities.value">
      {{localize "CONAN.qualitiesLabel"}}
      <a
        class="trait-selector"
        data-options="weaponQualities"
        data-has-values="true"
        data-allow-empty-values="true"
        ><i class="fas fa-edit"></i
      ></a>
    </label>
    <ul class="qualities-list co-value co-large">
      {{#each data.data.qualities.value as |v k|}}
      <span class="tag {{k}}"
        >{{v.label}}{{#if v.value}}({{v.value}}){{/if}}</span
      >
      {{/each}}
    </ul>
  </div>
</ol>
