.inventory {
  height: calc(100% - 40px);

  ol {
    @include p-reset;
    list-style: none;
    display: flex;

    &:last-child {
      margin-bottom: 42px;
    }
  }

  div[style*='float'] {
    display: none;
  }

  .inv-header {
     display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    height: 30px;
    grid-template-areas:
      "gold gold gold upkeep";
  }

  .upkeep {
      grid-area: upkeep;
      background-image: url('../assets/sheet/attribute-block-header.png');
      margin-bottom: 8px;
      margin-left: 3px;
      width: 85px;
      height: 30px;
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 500;
      text-transform: capitalize;
      color: #C0C0C0;
      flex: 2;

      h3,
      h4 {
        margin-right: auto;
        line-height: 10px;
        padding-top: 10px;
        padding-left: 5px;
        cursor: pointer;

        &:hover {
          @include input-glow;
          color: white;
          cursor: pointer;
        }
    }
    input[type='number'] {
      font-family: $body-serif;
      width: 70px;
      font-weight: 900;
      text-align: center;
      float: right;
      color: #E9D7A1;
      margin-right: 20px;
    }
  }

  .gold {
    grid-area: gold;
    padding: 2px;
    @include button;
    background-image: url('../assets/sheet/attribute-block-header.png');
    margin-bottom: 8px;
    margin-left: 3px;
    width: 150px;
    height: 30px;
    .coin-bar {
      width: 100%;
      color: white;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: nowrap;
      background-color: transparent;
      border-right: 1px solid rgba(white, 0.1);
      border-left: 1px solid rgba(black, 0.2);
      text-shadow: 0 0 3px rgba(black, 0.75);

      &:first-child {
        border-left: none;
      }

      &:last-child {
        border-right: none;
        margin-right: 8px;
      }

      label {
        color: #ffe8d1;
        text-shadow: 1px 1px 1px rgba(white, 0.2),
          -1px -1px 1px rgba(black, 0.2);
        @include micro;
      }

      span {
        padding-left: 8px;
        padding-right: 12px;

        input[type='number'] {
          text-align: left;
          color: white;
        }
      }

      .gold-pouch-image {
        background: url('../icons/equipment/treasure/currency/gold-pieces.jpg')
          no-repeat;
      }

      .currency-image {
        height: 100%;
        width: 100%;
        @include gold-border;
        background-size: cover !important;
        background: url('../assets/icons/icon-goldp-1.png');
      }
    }

    .add-gold,
    .subtract-gold,
    .sell-all-treasure {
      height: 100%;
      button {
        @include flex-center;
        @include p-reset;
        line-height: 1;
        color: rgba(black, 0.75);
        background-color: var(--tertiary);
        border: none;
        padding: 3px 8px;
        margin-top: 1px;
        border-radius: 1px;
        box-shadow: 0 0 0 1px rgba(black, 0.25),
          inset 0 0 0 1px rgba(white, 0.25), 0 0 3px rgba(black, 0.5);

        &:hover {
          background-color: var(--primary);
          color: white;
          cursor: pointer;
        }
      }
    }

    .add-gold,
    .subtract-gold {
      button {
        font-size: 15px;
        font-weight: 600;
        padding-bottom: 4px;
        margin-left: 2px;
        padding-top: 3px;
      }
    }

    .sell-all-treasure {
      margin: 0 1px 0px 5px;
      button {
        font-size: 11px;
        padding: 5px 6px 6px 10px;
      }
    }
  }

  .item-name {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    flex: 2;

    h3,
    h4 {
      margin-right: auto;
      line-height: 10px;
      padding: 2px;
      cursor: pointer;

      &:hover {
        @include input-glow;
        color: white;
        cursor: pointer;
      }
    }

    span {
      margin: 0 4px;
    }

    .item-image-inventory {
      height: 24px;
      width: 24px;
      box-shadow: inset 0 0 0 1px var(--tertiary);
      background-size: cover;
      padding: 1px;
      cursor: pointer;
      margin-right: 4px;
    }
  }

  .item-quantity,
  .item-weight,
  .item-controls {
    @include flex-center;
  }

  .item-quantity {
    flex: 0 0 60px;
    font-family: $sans-serif;

    .item-decrease-quantity,
    .item-increase-quantity,
    .mount-increase-pass,
    .mount-decrease-pass {
      height: 100%;
      width: 18px;
      text-align: center;
      @include flex-center;

      &:hover {
        @include input-glow;
        color: white;
        cursor: pointer;
      }
    }
  }

  .item-weight {
    flex: 0 0 60px;
  }

  .item-controls {
    flex: 0 0 75px;
    justify-content: flex-end;

    .item-control {
      margin-right: 4px;
      font-size: 10px;
      &.item-toggle-equip {
        color: rgba(black, 0.4);
        &.active {
          color: var(--secondary);
        }

        &:hover {
          @include input-glow;
          color: white;
          cursor: pointer;
        }
      }

      &.item-toggle-broken {
        color: rgba(black, 0.4);
        &.active {
          color: red;
        }

        &:hover {
          @include input-glow;
          color: white;
          cursor: pointer;
        }
      }

      &:hover {
        @include input-glow;
        color: white;
        cursor: pointer;
      }
    }
  }

  .item-summary {
    flex: 100%;
    padding: 4px;
    border-top: 1px solid var(--alt);
    border-bottom: 1px solid var(--alt);
    background: var(--bg);
    display: grid;
    grid:
      'content btn' min-content
      'details btn' min-content
      'tags btn' min-content
      / 1fr min-content;
    column-gap: 8px;
    align-items: center;
    padding: 4px 8px 8px;

    .item-description {
      grid-area: content;
    }

    .item-details {
      grid-area: details;
      align-self: start;
      margin-bottom: 4px;
    }

    .item-properties {
      grid-area: tags;
      align-self: start;
    }

    .item-buttons {
      grid-area: btn;
      display: flex;
      flex-wrap: wrap;
      margin-right: 2px;
      button {
        margin: 0;
        border: none;
        cursor: pointer;
        @include micro;
        padding: 5px 4px;
        color: white;
        width: 70px;
        @include button;
        margin-top: 4px;
        background: var(--primary);
        border-radius: 2px;
        flex: 1;

        &:hover {
          @include input-glow;
          text-shadow: 0 0 2px white;
        }
      }

      .weapon {
        &_attack {
          background: var(--primary);
        }
      }
    }

    .chat-item-detail {
      margin: 4px;
      font-size: 14px;
    }
  }

  .inventory-list {
    align-items: center;
    justify-content: flex-start;
    position: relative;
    overflow-y: scroll;
    height: calc(100% - 42px);
    padding-left: 6px;
    padding-top: 6px;

    .item-list {
      flex-direction: column;
      width: 100%;
      margin-left: 10px;
      color: #877053;
      border-style: solid;
      border-image-slice: 32;
      border-image-width: 10px;
      border-image-repeat: repeat;
      border-image-source: url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGkAAABpAgMAAABE7OWpAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAADFBMVEX///9nXlJnXlIAAADHvn4rAAAAAnRSTlMAAHaTzTgAAAABYktHRAMRDEzyAAAACXBIWXMAAAsSAAALEgHS3X78AAAAB3RJTUUH5AcZECcNZmJamQAAANBJREFUSMftljEOwyAMRZ1KuRdLdyKVzF2y9BRcInuXLj1lawMFV8SVGpIw8KckLwhL/G8MQHoyWUhl4RIeewWrmUFxNuMntYKNru7IbvT+IIY/zWNkk8F1U2M/mfGwN+WYvJ/ReNLnZJ07Wc6CS+2JTMEY6gq1MVdxZM6f9zcjD6M+LOh/hlnrBs4G7TK5FfPhJqaSHkCso8J0SLGulWXVWFXsEE/kfb1nxjbpE0Jfqqt/LjPpfpDulRrvv8a+mTDXeQ8XnSN9tovOu6TsfP0Czk5AHbKzIVkAAAAASUVORK5CYII=');

      & > li:nth-of-type(even) {
        background-color: rgba($alt-color, 0.1);
      }

      .item {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        width: 100%;
        font-size: 12px;
        padding-left: 6px;
        padding-right: 6px;

        &:last-child {
          .item-summary {
            border-bottom: none;
          }
        }
      }
    }
  }

  .inventory-header {
    @include micro;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 103%;
    font-family: 'Gelasio', 'Signika', Georgia, serif;
    background-image: url('../assets/sheet/attribute-block-header.png');
    background-size: 100% 100%;
    box-shadow: 0 0 5px #000;
    margin-top: 10px;
    margin-left: 10px;
    padding: 4px;
    color: #c0c0c0;
    z-index: 1;

    &:first-child {
      margin-top: 0;
    }

    h3 {
      font-size: 14px;
      font-weight: 600;
      color: #c0c0c0;
      font-family: 'Gelasio', 'Signika', Georgia, serif;
      text-transform: uppercase;
      padding-left: 2px;
      text-shadow: 0 0 2px rgba(black, 0.75);
      margin-left: 0;
      cursor: default;
      &:hover {
        color: white;
      }
    }

    .item-quantity,
    .item-weight {
      font-family: 'Gelasio', 'Signika', Georgia, serif;
      font-size: 8px;
      @include flex-center;
      margin-right: 3px;
    }
  }

  .currency,
  .encumbrance {
    margin-right: 23px;
  }

  .encumbrance {
    margin-top: 0px;
    display: grid;
    grid:
      'img bar' min-content
      / 40px 1fr;
    align-items: center;

    img {
      grid-area: img;
      @include frame-icon;
      border-radius: 0;
      position: relative;
      z-index: 4;
    }
    .encumbrance-bar {
      position: relative;
      z-index: 2;
      grid-area: bar;
      height: 16px;
      width: 100%;
      background-color: var(--light);
      box-shadow: inset 0 0 0 1px rgba(black, 0.5),
        inset 0 0 0 2px rgba(white, 0.2);
    }
    .encumbrance-label {
      position: relative;
      z-index: 3;
      grid-area: bar;
      color: white;
      font-family: $serif;
      font-size: 12px;
      font-weight: 500;
      padding: 0 8px;
      padding-top: 2px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      text-shadow: 0 0 2px black;
    }
    .bar-bg {
      position: relative;
      z-index: 1;
      grid-area: bar;
      width: 100%;
      height: 16px;
      background-color: rgba(black, 0.5);
      border-radius: 0 2px 2px 0;
      box-shadow: inset 0 0 4px rgba(black, 0.75);
    }

    &.over-limit {
      .encumbrance-bar {
        background-color: var(--primary) !important;
      }
    }
  }
}
