<div class="npcactions">
  <ol class="npcactions-list inventory-list directory-list attacks-list">
    {{#each actor.actions as |section sid|}}
    <li class="section-header">
      <h2 class="item-name">{{section.label}}</h2>
      {{#if ../owner}}
      <div class="item-controls" style="display: flex">
        <a
          class="item-control item-create"
          title="{{localize CONAN.createActionTitle}}"
          data-type="npcaction"
          data-action-type="{{sid}}"
          ><i class="fas fa-plus"></i
        ></a>
        <a
          class="item-control action-browse"
          title="{{localize CONAN.openActionBrowserTitle}}"
          data-type="npcaction"
          ><i class="fas fa-search"></i
        ></a>
      </div>
      {{/if}}
    </li>
    {{#each section.actions as |action aid|}}
    <li class="item" data-item-id="{{action.id}}">
      <div class="item-name rollable">
        <div
          class="item-image-inventory"
          style="background-image: url({{action.img}})"
        >
          <i class="fas fa-comment-alt"></i>
        </div>
        <h4>{{action.name}}</h4>
      </div>
      {{#if ../../owner}}
      <div class="item-controls">
        <a
          class="item-control item-edit"
          title="{{localize CONAN.editItemTitle}}"
          ><i class="fas fa-edit"></i
        ></a>
        <a
          class="item-control item-delete"
          title="{{localize CONAN.deleteItemTitle}}"
          ><i class="fas fa-trash"></i
        ></a>
      </div>
      {{/if}}
    </li>
    {{/each}} {{/each}}
  </ol>
</div>
