    <div class="npc-mob">
        <div class="mob-toggle">
            <h4 class="mob-toggle-label">{{localize "CONAN.npcIsMobLabel"}}</h4>
            <input
                class="isMob-toggle"
                type="checkbox"
                name="data.isMob"
                value="1"
                data-dtype="bool"
                {{checked data.data.isMob}}
            />
        </div>
    {{#if data.data.isMob}}
        <div class="mob-count">
            <h4 class="mob-toggle-label">{{localize "CONAN.npcMobCountLabel"}}</h4>
            <input
                    type="Number"
                    name="data.mobCount"
                    value="{{data.data.mobCount}}"
                    data-dtype="Number" />
        </div>
    {{/if}}
    </div>
