header.char-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1.char-name {
    margin: 0;
    border: none;
    margin-bottom: 4px;
    input[type='text'] {
      font-family: CrushYourEnemies;
      font-weight: 400;
      font-size: 20px;
      height: 41px;
      color: white;
      line-height: 1;
      border-bottom: 3px solid transparent;
      &:focus {
        box-shadow: none;
        border-bottom: px solid black;
      }
    }
  }

  .char-details {
    @include micro;
    color: white;
    margin-top: 0px;
    margin-left: 8px;
    margin-right: 8px;

    .dots {
      display: flex;
      font-size: 10px;
      h4 {
        color: $sidebar-label;
        margin-right: 8px;
        font-weight: 700;
      }
    }
  }

  .char-level {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 0px;
    .level {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 43px;
      width: 40px;
      background-size: 40px 43px;
      z-index: 2;
      font-size: 0;
      padding-top: 2px;
      label {
        color: black;
        @include micro;
        line-height: 1.5;
      }
      input {
        font-family: $serif;
        font-size: 22px;
        font-weight: 400;
        color: black;
        line-height: calc(1em + 1px);
        height: 24px;
      }
      label,
      input {
        margin-left: 1px;
        text-align: center;
      }
    }

    .exp-data {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex-direction: row;

      .exp-input {
        height: 18px;
      }
      input {
        color: black;
        text-align: right;
        width: 36px;
      }
      .max {
        color: $sidebar-label;
        padding-right: 2px;
      }
      input,
      .max {
        font-family: $sans-serif;
        font-size: 12px;
      }
      .exp-bar {
        position: relative;
        margin-top: 3px;
        margin-left: -8px;
        margin-bottom: 4px;
        display: inline-flex;
        width: 75px;
        height: 5px;
        border: 1px solid rgba(white, 0.1);
        border-radius: 2.5px;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 1;

        .bar {
          display: inline-flex;
          height: 3px;
          background-color: $sidebar-title-color;
          box-shadow: 0 0 2px $sidebar-label;
        }
      }

      .info {
        display: inline-flex;
        justify-content: flex-end;
        a {
          font-family: $sans-serif;
          font-size: 9px;
          font-weight: 500;
          color: $primary-color;
          text-transform: uppercase;
          & + a {
            margin-left: 8px;
          }
        }
      }
    }
  }
}
