<div class="tab actions" data-group="primary" data-tab="actions">
  <ol class="actions-list inventory-list directory-list attacks-list">
    <div class="grid-container">
      <div class="item header-bar">
        <h3 class="action-name">{{localize "CONAN.attacksLabel"}}</h3>
      </div>
      <div class="item-table">
        {{#each actor.data.data.actions as |action ai|}}
        <li
          class="item"
          data-action-index="{{ai}}"
          data-item-id="{{action.attack.id}}"
        >
          <div class="item-name rollable">
            <div
              class="item-image-inventory execute-attack"
              style="background-image: url({{action.imageUrl}})"
            >
              <i class="fas fa-comment-alt"></i>
            </div>
            <h4 class="action-name">
              {{action.name}}
              <span class="activity-icon">{{action.glyph}}</span>
            </h4>
          </div>
          {{#if ../owner}} {{#ifEq action.attack.type "display"}}
          <div class="item-controls" style="display: flex">
            <a
              class="item-control item-delete"
              title="{{localize CONAN.deleteItemTitle}}"
              data-type="action"
              data-action-type="{{sid}}"
              ><i class="fas fa-trash"></i
            ></a>
          </div>
          {{/ifEq}} {{/if}}
        </li>
        {{/each}}
      </div>
    </div>
    {{#each actor.actions as |section sid|}}
    <div class="grid-container">
      <li class="item header-bar">
        <h3 class="item-name">{{section.label}}</h3>
        {{#if ../owner}}
        <div class="item-controls" style="display: flex">
          <a
            class="item-control item-create"
            title="{{localize CONAN.createActionTitle}}"
            data-type="action"
            data-action-type="{{sid}}"
            ><i class="fas fa-plus"></i
          ></a>
          <a
            class="item-control action-browse"
            title="{{localize CONAN.openActionBrowserTitle}}"
            data-type="talent"
            ><i class="fas fa-search"></i
          ></a>
        </div>
        {{/if}}
      </li>
      <div class="item-table">
        {{#each section.actions as |action aid|}}
        <li class="item" data-item-id="{{action.id}}">
          <div class="item-name rollable">
            <div
              class="item-image item-image-inventory execute-attack"
              style="background-image: url({{action.img}})"
            >
              <i class="fas fa-comment-alt"></i>
            </div>
            <h4 class="action-name">{{action.name}}</h4>
          </div>
          {{#if ../../owner}}
          <div class="item-controls">
            <a
              class="item-control item-edit"
              title="{{localize CONAN.editItemTitle}}"
              ><i class="fas fa-edit"></i
            ></a>
            {{#unless action.feat}}
            <a
              class="item-control item-delete"
              title="{{localize CONAN.deleteItemTitle}}"
              ><i class="fas fa-trash"></i
            ></a>
            {{/unless}}
          </div>
          {{/if}}
        </li>
        {{/each}}
      </div>
    </div>
    {{/each}}
  </ol>
</div>
