<div class="tab sorcery" data-group="primary" data-tab="sorcery">
  <ol
    class="actions-list sorcery-list inventory-list directory-list attacks-list"
  >
    {{#each actor.sorcery as |section sid|}}
    <div class="grid-container">
      <li class="item header-bar">
        <h3 class="item-name">{{section.label}}</h3>
        {{#if ../owner}}
        <div class="item-controls" style="display: flex">
          <a
            class="item-control item-create"
            title="{{localize CONAN.createSpellTitle}}"
            data-type="{{sid}}"
            data-spell-type="{{sid}}"
            ><i class="fas fa-plus"></i
          ></a>
          <a
            class="item-control spell-browse"
            title="{{localize CONAN.openSpellBrowserTitle}}"
            data-type="{{sid}}"
            data-spell-type="{{sid}}"
            ><i class="fas fa-search"></i
          ></a>
        </div>
        {{/if}}
      </li>
      <div class="item-table">
        {{#each section.sorcery as |spell fid|}}
        <li class="item spell-item" data-item-id="{{spell.id}}">
          <div class="item-name rollable">
            <div
              class="item-image-inventory execute-attack"
              style="background-image: url({{spell.img}})"
            >
              <i class="fas fa-comment-alt"></i>
            </div>
            <h4>{{spell.name}}</h4>
          </div>
          {{#if ../../owner}}
          <div class="item-controls">
            <a
              class="item-control item-edit"
              title="{{localize CONAN.editItemTitle}}"
              ><i class="fas fa-edit"></i
            ></a>
            <a
              class="item-control item-delete"
              title="{{localize CONAN.deleteItemTitle}}"
              ><i class="fas fa-trash"></i
            ></a>
          </div>
          {{/if}}
        </li>
        {{/each}}
      </div>
    </div>
    {{/each}}
  </ol>
</div>
