<div class="health-container">
  <div class="sidebar-health">
    <div class="vigor-container">
      <div class="vigor-label">
        <h2>{{localize "CONAN.healthVigor"}}</h2>
      </div>
      <div class="vigor-value">
        <input title="{{localize "CONAN.healthVigorTitle"}}"
        name="data.health.physical.value" type="text"
        value="{{data.data.health.physical.value}}" data-dtype="text"
        placeholder="20" size="1"/>
        <label class="vigor-sub">{{localize "CONAN.healthVigorSubCur"}}</label>
      </div>
      <div class="vigor-max">
        <input title="{{localize "CONAN.healthVigorTitle"}}"
        name="data.health.physical.max" type="text"
        value="{{data.data.health.physical.max}}" data-dtype="text"
        placeholder="20" size="1" readonly/>
        <label class="vigor-sub">{{localize "CONAN.healthVigorSubMax"}}</label>
      </div>
    </div>
    <div class="vigor-wounds">
      <label>{{localize "CONAN.woundsLabel"}}</label>
      <span title="{{localize "CONAN.woundsTitle"}}">
        <div class="dots-row" data-target="data.health.physical.wounds.value">
          <span
            class="wound-dot"
            data-target="data.health.physical.wounds.dots.0.status"
          >
            <input
              type="hidden"
              data-index="0"
              name="data.health.physical.wounds.dots.0.status"
              value="{{data.data.health.physical.wounds.dots.0.status}}"
              data-dtype="Number"
            />
            <i
              class="traumas wounds {{data.data.health.physical.wounds.dots.0.icon}}"
              data-target="data.health.physical.wounds.dots.0.icon"
            ></i>
          </span>
          <span
            class="wound-dot"
            data-target="data.health.physical.wounds.dots.1.status"
          >
            <input
              type="hidden"
              data-index="1"
              name="data.health.physical.wounds.dots.1.status"
              value="{{data.data.health.physical.wounds.dots.1.status}}"
              data-dtype="Number"
            />
            <i
              class="traumas wounds {{data.data.health.physical.wounds.dots.1.icon}}"
              data-target="data.health.physical.wounds.dots.1.icon"
            ></i>
          </span>
          <span
            class="wound-dot"
            data-target="data.health.physical.wounds.dots.2.status"
          >
            <input
              type="hidden"
              data-index="2"
              name="data.health.physical.wounds.dots.2.status"
              value="{{data.data.health.physical.wounds.dots.2.status}}"
              data-dtype="Number"
            />
            <i
              class="traumas wounds {{data.data.health.physical.wounds.dots.2.icon}}"
              data-target="data.health.physical.wounds.dots.2.icon"
            ></i>
          </span>
          <span
            class="wound-dot"
            data-target="data.health.physical.wounds.dots.3.status"
          >
            <input
              type="hidden"
              data-index="3"
              name="data.health.physical.wounds.dots.3.status"
              value="{{data.data.health.physical.wounds.dots.3.status}}"
              data-dtype="Number"
            />
            <i
              class="traumas wounds {{data.data.health.physical.wounds.dots.3.icon}}"
              data-target="data.health.physical.wounds.dots.3.icon"
            ></i>
          </span>
          <span
            class="wound-dot"
            data-target="data.health.physical.wounds.dots.4.status"
          >
            <input
              type="hidden"
              data-index="4"
              name="data.health.physical.wounds.dots.4.status"
              value="{{data.data.health.physical.wounds.dots.4.status}}"
              data-dtype="Number"
            />
            <i
              class="traumas wounds {{data.data.health.physical.wounds.dots.4.icon}}"
              data-target="data.health.physical.wounds.dots.4.icon"
            ></i>
          </span>
        </div>
      </span>
    </div>
    <div class="resolve-container">
      <div class="resolve-label">
        <h2>{{localize "CONAN.healthResolve"}}</h2>
      </div>
      <div class="resolve-value">
        <input
          title="{{localize "CONAN.healthResolveTitle"}}"
          name="data.health.mental.value"
          type="text"
          value="{{data.data.health.mental.value}}"
          data-dtype="text"
          placeholder="20"
          size="1"
        />
        <label class=resolve-sub>{{localize "CONAN.healthVigorSubCur"}}</label>
      </div>
      <div class="resolve-max">
        <input
          title="{{localize "CONAN.healthResolveTitle"}}"
          name="data.health.mental.max"
          type="text"
          value="{{data.data.health.mental.max}}"
          data-dtype="text"
          placeholder="20"
          size="1"
          readonly
        />
        <label class=resolve-sub>{{localize "CONAN.healthVigorSubMax"}}</label>
      </div>
    </div>
    <div class="resolve-traumas">
      <label>{{localize "CONAN.traumasLabel"}}</label>
      <span title="{{localize "CONAN.traumasTitle"}}">
        <div class="dots-row" data-target="data.health.mental.traumas.value">
          <span
            class="wound-dot"
            data-target="data.health.mental.traumas.dots.0.status"
          >
            <input
              type="hidden"
              data-index="0"
              name="data.health.mental.traumas.dots.0.status"
              value="{{data.data.health.mental.traumas.dots.0.status}}"
              data-dtype="Number"
            />
            <i
              class="traumas wounds {{data.data.health.mental.traumas.dots.0.icon}}"
              data-target="data.health.mental.traumas.dots.0.icon"
            ></i>
          </span>
          <span
            class="wound-dot"
            data-target="data.health.mental.traumas.dots.1.status"
          >
            <input
              type="hidden"
              data-index="1"
              name="data.health.mental.traumas.dots.1.status"
              value="{{data.data.health.mental.traumas.dots.1.status}}"
              data-dtype="Number"
            />
            <i
              class="traumas wounds {{data.data.health.mental.traumas.dots.1.icon}}"
              data-target="data.health.mental.traumas.dots.1.icon"
            ></i>
          </span>
          <span
            class="wound-dot"
            data-target="data.health.mental.traumas.dots.2.status"
          >
            <input
              type="hidden"
              data-index="2"
              name="data.health.mental.traumas.dots.2.status"
              value="{{data.data.health.mental.traumas.dots.2.status}}"
              data-dtype="Number"
            />
            <i
              class="traumas wounds {{data.data.health.mental.traumas.dots.2.icon}}"
              data-target="data.health.mental.traumas.dots.2.icon"
            ></i>
          </span>
          <span
            class="wound-dot"
            data-target="data.health.mental.traumas.dots.3.status"
          >
            <input
              type="hidden"
              data-index="3"
              name="data.health.mental.traumas.dots.3.status"
              value="{{data.data.health.mental.traumas.dots.3.status}}"
              data-dtype="Number"
            />
            <i
              class="traumas wounds {{data.data.health.mental.traumas.dots.3.icon}}"
              data-target="data.health.mental.traumas.dots.3.icon"
            ></i>
          </span>
          <span
            class="wound-dot"
            data-target="data.health.mental.traumas.dots.4.status"
          >
            <input
              type="hidden"
              data-index="4"
              name="data.health.mental.traumas.dots.4.status"
              value="{{data.data.health.mental.traumas.dots.4.status}}"
              data-dtype="Number"
            />
            <i
              class="traumas wounds {{data.data.health.mental.traumas.dots.4.icon}}"
              data-target="data.health.mental.traumas.dots.4.icon"
            ></i>
          </span>
        </div>
      </span>
    </div>
  </div>
</div>
<div class="fatigue-tracker">
  <input
    name="data.health.physical.fatigue"
    type="number"
    value="{{data.data.health.physical.fatigue}}"
    title="{{localize "CONAN.fatigueTitle"}}"
    data-dtype="text"
    placeholder="0"
    size="2"
  />
</div>
<div class="despair-tracker">
  <input
    name="data.health.mental.despair"
    type="number"
    value="{{data.data.health.mental.despair}}"
    title="{{localize "CONAN.despairTitle"}}"
    data-dtype="text"
    placeholder="0"
    size="2"
  />
</div>
