<div class="pc pc_fortune">
  <label for="fortune"> {{localize 'CONAN.fortuneLabel'}} </label>
  <span>
    <input
      id="fortune"
      type="Number"
      name="data.resources.fortune.value"
      data-dtype="Number"
      value="{{data.data.resources.fortune.value}}"
      placeholder="0"
    />
  </span>
</div>
<div class="pc pc_experience">
  <label for="experience"> {{localize 'CONAN.experienceLabel'}} </label>
  <span>
    <input
      id="experience"
      type="Number"
      name="data.resources.xp.value"
      data-dtype="Number"
      value="{{data.data.resources.xp.value}}"
      placeholder="0"
    />
  </span>
</div>
<div class="pc pc_renown">
  <label for="renown"> {{localize 'CONAN.renownLabel'}} </label>
  <span>
    <input
      id="renown"
      type="Number"
      name="data.background.renown"
      data-dtype="Number"
      value="{{data.data.background.renown}}"
      placeholder="0"
    />
  </span>
</div>
<div class="pc pc_standing">
  <label for="standing"> {{localize 'CONAN.standingLabel'}} </label>
  <span>
    <input
      id="standing"
      type="Number"
      name="data.background.standing.value"
      data-dtype="Number"
      value="{{data.data.background.standing.value}}"
      placeholder="0"
    />
  </span>
</div>
