<div
  class="conan2d20 chat-card item-card"
  data-actor-id="{{actor.id}}"
  data-item-id="{{item.id}}"
  draggable="true"
>
  <header class="card-header flexrow">
    <img src="{{item.img}}" title="{{item.name}}" width="36" height="36" />
    <h3>{{item.name}}</h3>
  </header>

  <div class="card-content">{{{data.description.value}}}</div>
</div>
