<div
  class="conan2d20 chat-card action-card"
  data-actor-id="{{actor.id}}"
  data-item-id="{{item.d}}"
  draggable="true"
>
  <header class="card-header flexrow">
    <img src="{{item.img}}" title="{{item.name}}" width="36" height="36" />
    <h3>{{item.name}}</h3>
  </header>

  <div class="card-content">{{{data.description.value}}}</div>

  {{#if data.weapon.value}}
  <header class="card-header flexrow">
    <h4>{{data.weapon.name}}</h4>
  </header>
  {{/if}}

  <footer class="card-footer">
    {{#each data.properties}}
    <span>{{this}}</span>
    {{/each}} {{#each data.traits}}
    <span title="{{this.description}}">{{this.label}}</span>
    {{/each}}
  </footer>
</div>
