

<ol class="form-list">
  <div class="dialog-inputs">
    <div class="form-group">
      <label>{{localize "CONAN.skillRollDifficultyLabel"}}</label>
      <div class="DiceMods">
        <select
          name="difficulty"
          data-dtype="String"
          title="{{modifiers.difficultyTooltip}}"
        >
          {{#select modifiers.prefilledDifficulty}} {{#each modifiers.difficulty
          as |name type|}}
          <option value="{{type}}">{{name}}</option>
          {{/each}} {{/select}}
        </select>
      </div>
    </div>
    {{#ifEq modifiers.actorType "npc"}}
    <div class="form-group">
      <label>{{localize "CONAN.npcSkillRollAttributeLabel"}}</label>
      <div class="diceMods">
        <select name="npcAttributes" data-dtype="String">
          {{#select modifiers.npcAttributes}} {{#each modifiers.npcAttributes as
          |name type|}}
          <option value="{{type}}">{{name}}</option>
          {{/each}} {{/select}}
        </select>
      </div>
    </div>
    {{/ifEq}} {{#ifEq modifiers.actorType "character"}}
    <script>
        var checkbox = document.querySelector("input[name=diceModifierAssist");

        checkbox.addEventListener('change', function() {
                console.log('fart');
            if (this.checked) {
              document.getElementById('hidden-on-assist-1').style.display = 'none';
              document.getElementById('hidden-on-assist-2').style.display = 'none';
            } else {
              document.getElementById('hidden-on-assist-1').style.display = 'block';
              document.getElementById('hidden-on-assist-2').style.display = 'block';
            }
        });
    </script>
    <div class="form-group">
        <div class="assist">
        <label>{{localize "CONAN.skillRollAssistLabel"}}</label>
            <input
                    type="checkbox"
                    name="diceModifierAssist"
                    value=""
                    data-dtype="Boolean"
                    {{checked rollData.diceModifierAssist}}
                />
        </div>
    </div>
    <div class="form-group" id="hidden-on-assist-1">
        <label>{{localize "CONAN.damageRollDoomSpendLabel"}}</label>
      <div class="diceMods">
        <input
          type="doom"
          name="diceModifierDoom"
          value=""
          data-dtype="Number"
          id="dice-modifier-value"
        />
      </div>
    </div>
    <div class="form-group" id="hidden-on-assist-2">
      <label>{{localize "CONAN.damageRollMomentumSpendLabel"}}</label>
      <div class="diceMods">
        <input
          type="momentum"
          name="diceModifierMomentum"
          value=""
          data-dtype="Number"
          id="dice-modifier-value"
        />
      </div>
    </div>
    <div class="form-group">
      <label>{{localize "CONAN.fortuneSpendLabel"}}</label>
      <div class="diceMods">
        <input name="successModifier" value="" />
      </div>
    </div>
    {{else ifEq modifiers.actorType "npc"}}
    <div class="form-group">
      <label>{{localize "CONAN.damageRollDoomSpendLabel"}}</label>
      <div class="diceMods">
        <input
          type=""
          name="diceModifierDoom"
          value=""
          data-dtype="Number"
          id="dice-modifier-value"
        />
      </div>
    </div>
    <div class="form group">
        <label>
          {{localize "CONAN.fortuneSpendLabel"}}
          <i
            class="fas fa-info-circle"
            title="{{localize "CONAN.doomConversionTitle"}}"
          ></i>
        </label>
        <div class="diceMods">
            <input name="successModifier" value="" />
        </div>
    </div>
    {{/ifEq}}
  </div>
</ol>
