@mixin input-border {
  border: 1px solid #956d58;
  /* prettier-ignore */
  box-shadow:
        0 0 0 1px rgba(0, 0, 0, 0.1),
        inset 0 0 4px rgba(0, 0, 0, 0.5);
}

@mixin input-glow {
  text-shadow: 0 0 4px var(--sidebar-title);
}

@mixin input-glow-white {
  text-shadow: 0 0 4px white;
}

@mixin input-glow-black {
  text-shadow: 0 0 4px black;
}

@mixin input-glow-brown {
  text-shadow: 0 0 4px #877053;
}
